* {
   margin: 0;
   padding: 0;
   border: 0;
   color: #22525;
 }
.example-enter {
  opacity: 0.01;
}

.btn-primary {
    background: #F05A50 !important;
    border: 1px solid #F05A50 !important;
}
.btn-primary:focus{
    background: #F05A50 !important;
    border: 1px solid #F05A50 !important;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.active {
    background-color: #FFF !important;
    color: #F05A50 !important;
}
.ulStyles {
    padding-left: 0;
    padding-bottom: 40px;
    min-height: 100vh;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    column-gap: 1.2em;
    /*break-inside: avoid-column;*/
}
.singleUserStyle {
    display: block;
    overflow: visibile;
    break-inside: avoid;
    padding-bottom: 5px;
}
@media (max-width: 992px) {
    .ulStyles {
        padding-left: 0;
        min-height: 100vh;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        column-gap: 1em;
    }
}
@media (max-width: 692px) {
    .ulStyles {
        padding-left: 0;
        min-height: 100vh;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        column-gap: 1em;
    }
}
