.what {
    background: white !important;
}
.page-transition-enter, .page-transition-appear {
  opacity: 0;
  animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-transition-enter{
  opacity: 1;
}
.page-transition-leave {
  opacity: 1;
  animation: slideOut 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}

.page-transition-appear {
    opacity: 0;
    animation: slideup 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideIn {
    0%
}
